@import url("https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro");
body {
  margin: 0; }

header {
  height: 100vh;
  background-color: #666666;
  background-image: url(../img/ceramics-clay-handmade-22823.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center; }

span {
  padding-left: .5em; }

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.9375rem;
  text-align: center;
  color: #e6e6e6; }

a {
  text-decoration: none; }

nav {
  height: 3.3125rem; }
  nav ul {
    padding-top: 1.3em;
    margin: 0; }
  nav li {
    display: inline;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    padding: .8em; }
  nav a {
    color: white;
    text-decoration: none; }

h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  position: relative; }

h2:after {
  background: black;
  bottom: -0.625rem;
  display: block;
  content: "";
  margin: auto;
  height: 0.0625rem;
  position: relative;
  width: 3.125rem; }

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 2rem; }

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666666;
  margin-top: 0em; }

h5 {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 1rem; }

input {
  width: 100%;
  height: 3em; }

::placeholder {
  padding-left: 2em; }

img {
  height: 100%;
  width: 100%;
  transition: 200ms; }

img:hover {
  transform: scale(1.05);
  transition: 200ms; }

textarea {
  width: 203%;
  height: 100%; }

footer {
  height: 26rem;
  width: 100%;
  background-color: #2d2827;
  padding: 0em; }

button {
  border-radius: 1.25rem;
  color: white !important;
  background-color: #a88d7b;
  border: none;
  width: 9.375rem;
  height: 2.5rem;
  margin-top: 5%; }

#hand-btn {
  border-radius: 0%; }

.hand-button {
  border-radius: 0%; }

#blog-btn {
  background-color: white;
  color: #666666;
  letter-spacing: .1em; }

.contact-btn {
  border-radius: 2%;
  margin: 1.5em 0em 5em 3.3em; }

.blog-page-text {
  text-align: left;
  color: #666666; }

#blog-page-btn {
  background-color: white;
  color: #666666;
  padding: 0;
  margin-left: -3em;
  margin-top: 0em; }

.fa-arrow-alt-circle-up {
  float: right;
  font-size: 2em;
  margin-top: -2em;
  padding-right: .5em;
  color: #666666;
  animation: col 1s ease infinite; }

.lookbook-uparrow {
  margin-top: -1.3em; }

@keyframes col {
  0% {
    color: #666666; }
  50% {
    color: white; }
  100% {
    color: #666666; } }
.cart-counter {
  position: absolute;
  height: 1.125rem;
  width: 1.125rem;
  border-radius: 50%;
  background-color: #a88d7b;
  top: 3.25rem;
  right: 12.8125rem; }

html {
  scroll-behavior: smooth; }

#page-top {
  height: 3em !important;
  background-color: black; }

.search-icon {
  margin-right: 1vw; }

.shopping-cart {
  margin-left: 1vw; }

.fab {
  color: white;
  padding-top: 1.1em; }

.twitter {
  color: black; }

.handmade-made-easy {
  font-family: 'Dosis', sans-serif;
  font-size: 3.125rem;
  text-align: center;
  color: #ffffff;
  padding-top: 8%;
  margin-top: 0;
  font-weight: normal; }

#title-header {
  font-size: 1.5em; }

.banner-image-text {
  padding: 0px 10em 0px 10em;
  color: #e0e0e0;
  font-size: 1em; }

.lnr-chevron-down {
  color: #ffffff;
  font-size: 2.3em; }

.arrow-down {
  animation: move 1200ms ease infinite;
  margin-top: 4em; }

@keyframes move {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(1.25rem); }
  100% {
    transform: translateY(0); } }
.look-button {
  text-decoration: none;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }

.accessories-home {
  text-align: left; }

.price-text {
  color: rgba(129, 120, 120, 0.801); }

#collections {
  padding-top: 20px; }

#hand-heading {
  color: white; }

#hand-heading:after {
  background: white; }

#blog-text {
  color: black;
  text-align: left; }

.blog {
  position: relative;
  overflow: hidden; }

.zar-about {
  color: white;
  padding-top: 15px;
  font-family: 'Source Sans Pro', sans-serif; }

.lang-about {
  margin-top: -15px; }

#title-header-about {
  font-size: 1.5em;
  color: white;
  font-family: 'Source Sans Pro', sans-serif; }

.about-us {
  color: #e0e0e0;
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 1.8em; }

.header-about {
  height: 60vh;
  background-image: url(../img/copper-and-clay-pots-and-pans-hung-in-a-kitchen_437tftbdl__F0000.png); }

.what-we-do-img {
  background: #b42a2a;
  width: 37.5rem;
  height: 30.625rem;
  position: relative;
  overflow: hidden; }

.what-we-do-text {
  text-align: center;
  width: 33.375rem; }

.what-text {
  text-align: left;
  color: black; }

.address {
  background-color: white;
  height: 12.5rem;
  border: 1px solid rgba(129, 115, 115, 0.521); }

.phone-email {
  background-color: white;
  height: 12.5rem;
  border: 1px solid rgba(129, 115, 115, 0.521); }

.open-hours {
  background-color: white;
  height: 12.5rem;
  border: 1px solid rgba(129, 115, 115, 0.521); }

.number-box {
  background-color: white;
  border-bottom: 1px solid rgba(129, 115, 115, 0.521); }

.contact-text {
  color: black;
  text-align: center;
  padding-top: 1.5em; }

.blog-icons {
  color: #575757;
  padding-top: 0em;
  padding: 0em .2em; }

.blog-text {
  color: #575757;
  padding-top: 0em; }

.blog-underline {
  width: 70%;
  color: #575757; }

.col-img1 {
  height: 13em;
  position: relative;
  overflow: hidden;
  background-color: #666666; }

.col-img2 {
  height: 13em;
  position: relative;
  overflow: hidden;
  background-color: #666666; }

.col-img3 {
  height: 13em;
  position: relative;
  overflow: hidden;
  background-color: #666666; }

.col-img1-text {
  color: black; }

.page-bottom {
  height: 4rem !important;
  background-color: #d7d7d7d7; }

.page-bottom-text {
  padding-top: 1.5em;
  color: #666666; }

.ig-header {
  padding-top: 3.8em;
  text-align: left;
  color: white; }

.footer-text {
  text-align: left; }

.footer-text-top {
  padding-top: 2em;
  text-align: left; }

.footer-text-left {
  padding-top: 1.4em;
  text-align: left; }

.footer-head {
  padding-top: 4em;
  color: white; }

.footer-heading {
  text-align: left;
  color: white;
  padding-top: .9em;
  font-weight: normal; }

.footer-heading-shop {
  text-align: left;
  color: white;
  padding-top: 1.6em;
  font-weight: normal; }

.gal-img {
  position: relative;
  overflow: hidden; }

.shop-img {
  height: 18.75rem;
  width: 18.75rem;
  background-color: #666666;
  overflow: hidden; }

.shop-description {
  padding-top: 1em; }

.shop-description-text {
  color: black; }

.show-cart li {
  display: flex; }

.card {
  margin-bottom: 20px; }

.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center; }

@media (max-width: 700px) {
  #gallery {
    grid-template-columns: repeat(2, 1fr) !important; } }
@media (max-width: 375px) {
  #gallery {
    display: block !important; } }
@media (max-width: 1196px) {
  #contact-details {
    width: 50rem !important; }

  .form {
    width: 50rem !important; } }
@media (max-width: 838px) {
  #contact-details {
    width: 40rem !important; }

  .form {
    width: 40rem !important; } }
@media (max-width: 664px) {
  #contact-details {
    display: block !important; }

  .form {
    display: block !important; }

  input {
    margin: 1rem; }

  textarea {
    width: 80%;
    margin: 1rem; } }
@media (max-width: 1196px) {
  #collections-blog-page {
    width: 60rem !important; }

  #blog-share-sections {
    width: 60rem !important; } }
@media (max-width: 996px) {
  #collections-blog-page {
    grid-template-columns: repeat(2, 1fr) !important;
    width: 53rem !important; }

  #blog-share-sections {
    width: 53rem !important; } }
@media (max-width: 874px) {
  #collections-blog-page {
    grid-template-columns: repeat(2, 1fr) !important;
    width: 40rem !important; }

  #blog-share-sections {
    width: 40rem !important; } }
@media (max-width: 678px) {
  #collections-blog-page {
    grid-template-columns: repeat(2, 1fr) !important;
    width: 35rem !important; }

  #blog-share-sections {
    width: 35rem !important; } }
@media (max-width: 600px) {
  #collections-blog-page {
    display: block !important;
    width: 20rem !important; }

  #blog-share-sections {
    width: 20rem !important; } }
@media (max-width: 360px) {
  #collections-blog-page {
    display: block !important;
    width: 18rem !important; }

  #blog-share-sections {
    width: 18rem !important; } }
@media (max-width: 800px) {
  #meet-the-team {
    display: block !important; }

  #about-content {
    display: block !important; } }
@media (max-width: 1072px) {
  #footer-grid {
    height: 340px;
    display: grid;
    margin: auto;
    width: 80%;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-template-areas: "leftfoot right foot" "insta-grid insta-grid"; } }
#page-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr); }

#featured-product {
  display: grid;
  padding-bottom: 15vh;
  grid-template-columns: repeat(3, 1fr);
  width: 70rem;
  grid-gap: 1rem;
  margin: auto;
  grid-template-areas: "one two three"; }

.featured-product-box1 {
  grid-area: one;
  background-color: rgba(206, 192, 192, 0.664);
  height: 22.5rem;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

.featured-product-box2 {
  grid-area: two;
  background-color: #a13e3e;
  height: 22.5rem;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

.featured-product-box3 {
  grid-area: three;
  background-color: #a13e3e;
  height: 22.5rem;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

#new-collections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 70rem;
  margin: auto;
  grid-template-areas: "collections-left collections-right"; }

.collections-left {
  grid-area: collections-left;
  background-color: red;
  object-fit: cover;
  height: 23.5rem;
  position: relative;
  overflow: hidden; }

.collections-right {
  grid-area: collections-right;
  background-color: red;
  height: 23.5rem;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

#hand-grid {
  padding: 5em 0em;
  margin: 5em 0em;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "hand-crafted hand-crafted2"; }

.hand-crafted {
  grid-area: hand-crafted;
  padding-left: 10rem; }

.hand-bgcol {
  background-color: #666666; }

.hand-crafted2 {
  grid-area: hand-crafted2;
  height: 17rem; }

#blog-grid {
  padding: 5em 0em;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 1rem;
  width: 70rem;
  margin: auto;
  grid-template-areas: "blog blog2"; }

.blog {
  grid-area: blog;
  background-color: red; }

.blog2 {
  height: 17rem;
  grid-area: blog2; }

#page-top-about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  background-color: #666666; }

#about-nav {
  display: grid;
  background-color: black;
  grid-template-columns: 1fr, 1fr;
  height: 3.6em;
  grid-template-areas: "about-logo about-navbar"; }

.about-logo {
  grid-area: about-logo;
  padding-top: 0.9375rem; }

.about-navbar {
  grid-area: about-navbar; }

#about-content {
  padding: 5em 0em;
  display: grid;
  grid-gap: 1em;
  margin: auto;
  width: 75rem;
  grid-template-columns: repeat(2, 1fr); }

.about-page-text {
  width: 37.5rem;
  height: 30.625rem; }

.about-page-img {
  background-color: #575757;
  width: 37.5rem;
  height: 30.625rem;
  position: relative;
  overflow: hidden; }

#meet-the-team {
  display: grid;
  width: 70rem;
  margin: auto;
  grid-gap: 1rem;
  padding: 3em 0em;
  grid-template-columns: repeat(4, 1fr); }

.team1 {
  height: 16.875rem;
  background-color: #1111e4;
  width: 16.875rem;
  text-align: center;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

.team2 {
  height: 16.875rem;
  width: 16.875rem;
  background-color: #1111e4;
  text-align: center;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

.team3 {
  height: 16.875rem;
  width: 16.875rem;
  background-color: #1111e4;
  text-align: center;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

.team4 {
  height: 16.875rem;
  width: 16.875rem;
  background-color: #575757;
  text-align: center;
  object-fit: cover;
  position: relative;
  overflow: hidden; }

.team-text {
  text-align: center; }

.team-name {
  color: black; }

.team-subtext {
  color: #666666; }

.fa-dribbble {
  color: black;
  padding-top: .5em;
  margin: 0em .2em; }

.fa-behance {
  color: black;
  padding-top: .5em;
  margin: 0em .2em; }

#what-we-do-grid {
  display: grid;
  grid-gap: 1em;
  width: 70rem;
  margin: auto;
  padding: 5em 0em;
  grid-template-columns: 2fr 2fr; }

#contact-details {
  padding: 5em 0em;
  display: grid;
  width: 73.125rem;
  margin: auto;
  grid-template-columns: repeat(3, 1fr); }

.phone-email {
  display: grid;
  grid-template-rows: repeat(2, 1fr); }

.form {
  display: grid;
  grid-gap: 1rem;
  margin: auto;
  width: 73.125rem;
  grid-template-columns: repeat(2, 1fr); }

#blog-share-sections {
  display: grid;
  width: 73.125rem;
  grid-template-columns: 1fr 1fr; }

#collections-blog-page {
  padding: 3em 0em;
  display: grid;
  width: 73.125rem;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em; }

#footer-grid {
  height: 340px;
  display: grid;
  margin: auto;
  width: 80%;
  grid-template-columns: 2fr 1fr 1fr 2fr; }

#insta-grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 5rem);
  grid-template-rows: repeat(2, 5rem); }

.insta-grid-img {
  height: 80px;
  width: 80px;
  background-color: white; }

#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  padding: 1em; }

.gal-img1 {
  grid-column: span 2; }

.gal-img-pumpkin {
  grid-column: span 2; }

.gal-img-blanket {
  grid-column: span 2; }

.gal-img-heart {
  grid-column: span 2;
  grid-row: span 2; }

.gal-img-clay {
  grid-column: span 2; }

.gal-img-paper {
  grid-column: span 2; }

#shop-subhead {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 5.6875rem;
  color: white;
  text-align: center; }

#shop-page-items {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100.625rem;
  width: 70rem;
  margin: auto;
  grid-gap: 1em; }
  #shop-page-items h4 {
    font-size: 25px;
    font-weight: 600;
    margin: 0; }
  #shop-page-items h6 {
    font-size: 1.125rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 1rem 0 0 0; }
  #shop-page-items p {
    text-align: left;
    color: black;
    font-size: 0.9375rem; }

/*# sourceMappingURL=main.css.map */
