
@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');

// font-family: 'Dosis', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;


button {
    border-radius: 1.25rem;
    color: #ffffff;
    background-color: #a88d7b;
    border: none;
    width: 9.375rem;
    height: 2.5rem;
    margin-top: 5%;
}

#hand-btn {
    border-radius: 0%;
}

#blog-btn {
    background-color: rgb(255, 255, 255);
    color: black;
}

.contact-btn {
    border-radius: 2%;
    margin: 1.5em 0em 5em 17em;
}


