
@import url('https://fonts.googleapis.com/css?family=Dosis|Source+Sans+Pro');

// font-family: 'Dosis', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;


.handmade-made-easy {
    font-family: 'Dosis', sans-serif;
    font-size: 3.125rem;
    text-align: center;
    color: #ffffff;
    padding-top: 15%;
}

button {
    border-radius: 1.25rem;
    color: #ffffff;
    background-color: #a88d7b;
    border: none;
    width: 150px;
    height: 40px;
}

