// layouts for the website


#page-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

// ------------------

#featured-product {
    display: grid;
    padding-bottom: 15vh;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5em;
    grid-template-areas: "blank one two three blank2"

}

.blank {
    grid-area: blank;
}

.featured-product-box1 {
    grid-area: one;
    background-color: rgb(161, 62, 62);
    height: 15rem;
}

.featured-product-box2 {
    grid-area: two;
    background-color: rgb(161, 62, 62);
    height: 15rem;
}

.featured-product-box3 {
    grid-area: three;
    background-color: rgb(161, 62, 62);
    height: 15rem;
}

.blank2 {
    grid-area: blank2;
}

// -------------

#new-collections {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas: "collections-blank collections-left collections-right collections-blank2";
                         
}


.collections-left {
    grid-area: collections-left;
    background-color: rgb(255, 0, 0);
    height: 17rem;
}

.collections-right {
    grid-area: collections-right;
    background-color: rgb(255, 0, 0);
    height: 17rem;
}

// -------------

#hand-grid {
    padding: 5em 0em;
    margin: 5em 0em;
    text-align: center;
    background-color: #666666;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas: "second-blank hand-crafted hand-crafted2 second-blank2";
}

.hand-crafted {
    grid-area: hand-crafted;
    height: 17rem;
}

.hand-crafted2 {
    grid-area: hand-crafted2;
    height: 17rem;
}

// ------------------

#blog-grid {
    padding: 5em 0em;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas: "third-blank blog blog2 third-blank2"                
}

.blog {
    grid-area: blog;
    height: 17rem;
    background-color: rgb(255, 0, 0);
}

.blog2 {
    height: 17rem;
    grid-area: blog2;
}




