// layouts for the website


#page-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

// ------------------

#featured-product {
    display: grid;
    padding-bottom: 15vh;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 1.5em;
    grid-template-areas: "blank one two three blank2"

}


.featured-product-box1 {
    grid-area: one;
    background-color: rgb(161, 62, 62);
    height: 13rem;
}

.featured-product-box2 {
    grid-area: two;
    background-color: rgb(161, 62, 62);
    height: 13rem;
}

.featured-product-box3 {
    grid-area: three;
    background-color: rgb(161, 62, 62);
    height: 13rem;
}

.blank2 {
    grid-area: blank2;
}

// -------------

#new-collections {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas: "collections-blank collections-left collections-right collections-blank2";
                         
}


.collections-left {
    grid-area: collections-left;
    background-color: rgb(255, 0, 0);
    height: 17rem;
}

.collections-right {
    grid-area: collections-right;
    background-color: rgb(255, 0, 0);
    height: 17rem;
}

// -------------

#hand-grid {
    padding: 5em 0em;
    margin: 5em 0em;
    text-align: center;
    background-color: #666666;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas: "second-blank hand-crafted hand-crafted2 second-blank2";
}

.hand-crafted {
    grid-area: hand-crafted;
    height: 17rem;
}

.hand-crafted2 {
    grid-area: hand-crafted2;
    height: 17rem;
}

// ------------------

#blog-grid {
    padding: 5em 0em;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-gap: 1.5em;
    grid-template-areas: "third-blank blog blog2 third-blank2"                
}

.blog {
    grid-area: blog;
    height: 17rem;
    background-color: rgb(255, 0, 0);
}

.blog2 {
    height: 17rem;
    grid-area: blog2;
}

// --------------

// ----------- about page layouts

// Header section

#page-top-about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 3.125rem;
    background-color: rgb(61, 61, 61);
}

#about-nav {
    display: grid;
    background-color: rgb(0, 0, 0);
    grid-template-columns: 1fr, 1fr;
    height: 3.6em;
    grid-template-areas: 
                            "about-logo about-navbar"
}

.about-logo {
    grid-area: about-logo;
    padding-top: 0.9375rem;
}

.about-navbar {
    grid-area: about-navbar;
}

// main content

#about-content {
    padding: 5em 0em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
                          "nothing1 about-page-text about-page-text about-page-img about-page-img nothing2 "

}

.about-page-text {
    grid-area: about-page-text;
}

.about-page-img {
    grid-area: about-page-img;
    height: 15.625rem;
    background-color: rgb(255, 67, 67);
}

// -------------

#meet-the-team {
    display: grid;
    grid-gap: 1em;
    padding: 5em 0em;
    grid-template-columns: repeat(6, 1fr);
}

// -------------

#what-we-do-grid {
    display: grid;
    grid-gap: 1em;
    padding: 5em 0em;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

// ------------

// Contact page

#contact-details {
    padding: 5em 0em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.phone-email {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

// contact form layout

.form {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 
                          "empty firstname firstname surname surname empty2"
                          "empty3 cell-number cell-number email email empty4"
                          "empty5 text-area text-area text-area text-area empty6"
}

.firstname {
    grid-area: firstname;
}

.surname {
    grid-area: surname;
}

.cell-number {
    grid-area: cell-number;
}

.email {
    grid-area: email;
}

.text-area {
    grid-area: text-area;
}

// --------------------

//  Blog Page grids

#blog-share-sections {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#collections-blog-page {
    padding: 3em 0em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2em;
}












