
// look book responsiveness

@media (max-width: 700px) {
    #gallery {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media (max-width: 375px) {
    #gallery {
        display: block !important;
    }
}

// contact page 

@media (max-width: 1196px) {
   #contact-details {
       width: 50rem !important;
   }
   .form {
        width: 50rem !important;
   }
}

@media (max-width: 838px) {
    #contact-details {
        width: 40rem !important;
    }
    .form {
         width: 40rem !important;
    }
}

@media (max-width: 664px) {
    #contact-details {
        display: block !important;
    }

    .form {
        display: block !important;
    }

    input {
        margin: 1rem;
    }

    textarea {
        width: 80%;
        margin: 1rem;
    }
}

// blog page

@media (max-width: 1196px) {
    #collections-blog-page {
        width: 60rem !important;
    }
    #blog-share-sections {
        width: 60rem !important;
    }
}

@media (max-width: 996px) {
    #collections-blog-page {
        grid-template-columns: repeat(2, 1fr) !important;
        width: 53rem !important;
    }

    #blog-share-sections {
        width: 53rem !important;
    }
}

@media (max-width: 874px) {
    #collections-blog-page {
        grid-template-columns: repeat(2, 1fr) !important;
        width: 40rem !important;
    }

    #blog-share-sections {
        width: 40rem !important;
    }
}

@media (max-width: 678px) {
    #collections-blog-page {
        grid-template-columns: repeat(2, 1fr) !important;
        width: 35rem !important;
    }

    #blog-share-sections {
        width: 35rem !important;
    }
}

@media (max-width: 600px) {
    #collections-blog-page {
        display: block !important;
        width: 20rem !important;
    }
    #blog-share-sections {
        width: 20rem !important;
    }
}

@media (max-width: 360px) {
    #collections-blog-page {
        display: block !important;
        width: 18rem !important;
    }
    #blog-share-sections {
        width: 18rem !important;
    }
}

// about page 

@media (max-width: 800px) {
    #meet-the-team {
        display: block !important;
    }
    #about-content {
        display: block !important;
    }

}



