// global variables 

// global colors

$primary-grey: #666666;
$primary-blue: rgb(17, 17, 228);
$secondary-grey: #575757;
$light-grey: rgba(129, 115, 115, 0.521);
$grass-green: #a88d7b;

// text colours

$headings: gray;
$links: ivory;
$text: yellow;