// global variables 

// global colors

$primary-grey: #666666;
$primary-blue: rgb(17, 17, 228);
$secondary-grey: rgb(117, 117, 117);
$grass-green: #a88d7b;

// text colours

$headings: gray;
$links: ivory;
$text: yellow;